#App,
main,
#UserData,
#Response {
	display: flex;
	flex-direction: column;
}

#UserData {
	flex-basis: 20%;
}

#Response {
	flex-basis: 80%;
}

header h1,
main,
#UserData,
#Response,
#Response pre,
#UserData textarea {
	flex-grow: 1;
}

.mainHeader {
	justify-content: space-between;
}

.searchContainer {
	display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.searchCard {
	width: 300px;
	margin: 50px 0;
}

.searchForm {
	margin-top: 120px;
	margin-left: 20px;
	display: flex;
	justify-content: center;

}

.tweetCard {
	width: 80%;
	margin-left: 10%;
	text-align: center;
}

.tweetResults {
	display: inline;
	margin-right: 5%;
}

.tweetButton {
	padding: 0 20px !important;
  margin-left: 30px !important;
}


/* tablets (portrait and landscape) */
@media only screen and (min-device-width: 600px) {
	.searchForm {
		margin-top: 130px;
    margin-left: 50px;

	}

}

/* desktop (portrait and landscape) */
@media only screen and (min-device-width: 1200px) {

}